flows/LLC_BI__IALAutoDecision.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Converts serialized data provided to the Flow into a credit application variable that can be used to drive decisions in the Flow.</description>
        <name>Load_Application_Data</name>
        <label>Load Application Data</label>
        <locationX>176</locationX>
        <locationY>304</locationY>
        <actionName>LLC_BI__ILCreditApplicationFlowTransformer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Flow_Information</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonData</name>
            <value>
                <elementReference>ApplicationData</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Applicants</assignToReference>
            <name>applicants</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Collaterals</assignToReference>
            <name>collaterals</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreditProduct</assignToReference>
            <name>creditProduct</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Adds each attribute&apos;s decision criteria to the collection.</description>
        <name>Add_Criterias</name>
        <label>Add Criterias</label>
        <locationX>3985</locationX>
        <locationY>4590</locationY>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaDTI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaLTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaLoanAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaLoanTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaInterestRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaVehicleMileage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaVehicleAgeYears</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaCollateralType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaCollateralSubtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaMonthsOnJob</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaTotalMonthlyIncome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaMonthsAtResidence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaCreditScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaNumberOfAccounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaForeclosures</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaCollections</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaBankruptcy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaOFAC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Criteria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaFraudAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_or_Individual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Credit Application the result of Approved.</description>
        <name>Approved</name>
        <label>Approved</label>
        <locationX>3985</locationX>
        <locationY>5344</locationY>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approved_Description</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the Bankruptcy decision criteria.</description>
        <name>Bankruptcy_Decision_Criteria</name>
        <label>Bankruptcy Decision Criteria</label>
        <locationX>3977</locationX>
        <locationY>3634</locationY>
        <assignmentItems>
            <assignToReference>CriteriaBankruptcy.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bankruptcy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBankruptcy.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OFAC_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the BooleanPresent boolean to true, indicating that a Business Applicant is present on the Credit Application.</description>
        <name>Business_Applicant_Present</name>
        <label>Business Applicant Present</label>
        <locationX>5452</locationX>
        <locationY>2164</locationY>
        <assignmentItems>
            <assignToReference>BusinessPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Collateral Subtype decision criteria</description>
        <name>Collateral_Subtype_Decision_Criteria</name>
        <label>Collateral Subtype Decision Criteria</label>
        <locationX>3759</locationX>
        <locationY>2178</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollateralSubtype.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Collateral Subtype</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollateralSubtype.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollateralSubtype.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Collateral.collateralType.subtype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Collateral Type decision criteria</description>
        <name>Collateral_Type_Decision_Criteria</name>
        <label>Collateral Type Decision Criteria</label>
        <locationX>3438</locationX>
        <locationY>1971</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollateralType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Collateral Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollateralType.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollateralType.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Collateral.collateralType.type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Collateral_Subtype_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Collections decision criteria.</description>
        <name>Collections_Decision_Criteria</name>
        <label>Collections Decision Criteria</label>
        <locationX>3966</locationX>
        <locationY>3203</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollections.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Collections</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollections.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bankruptcies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Credit Score decision criteria.</description>
        <name>Credit_Score_Decision_Criteria</name>
        <label>Credit Score Decision Criteria</label>
        <locationX>5944</locationX>
        <locationY>3072</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Applicant.creditReport.creditScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Accounts_Within_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Credit Application the result of Declined</description>
        <name>Declined</name>
        <label>Declined</label>
        <locationX>3708</locationX>
        <locationY>5103</locationY>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declined_Description</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the DTI decision criteria.</description>
        <name>DTI_Decision_Criteria</name>
        <label>DTI Decision Criteria</label>
        <locationX>857</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>CriteriaDTI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DTI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditProduct.dao.LLC_BI__Debt_To_Income_Ratio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LTV_Within_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Foreclosure decision criteria.</description>
        <name>Foreclosure_Decision_Criteria</name>
        <label>Foreclosure Decision Criteria</label>
        <locationX>3957</locationX>
        <locationY>2812</locationY>
        <assignmentItems>
            <assignToReference>CriteriaForeclosures.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Foreclosure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaForeclosures.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Fraud Alert decision criteria.</description>
        <name>Fraud_Alert_Decision_Criteria</name>
        <label>Fraud Alert Decision Criteria</label>
        <locationX>3986</locationX>
        <locationY>4414</locationY>
        <assignmentItems>
            <assignToReference>CriteriaFraudAlert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fraud Alert</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaFraudAlert.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Criterias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Interest Rate decision criteria.</description>
        <name>Interest_Rate_Decision_Criteria</name>
        <label>Interest Rate Decision Criteria</label>
        <locationX>2267</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>CriteriaInterestRate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest Rate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaInterestRate.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaInterestRate.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditProduct.interestRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Collateral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Loan Amount decision criteria.</description>
        <name>Loan_Amount_Decision_Criteria</name>
        <label>Loan Amount Decision Criteria</label>
        <locationX>1550</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLoanAmount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan Amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLoanAmount.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditProduct.dao.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLoanAmount.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Term_Within_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Loan Term decision criteria.</description>
        <name>Loan_Term_Decision_Criteria</name>
        <label>Loan Term Decision Criteria</label>
        <locationX>1914</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLoanTerm.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan Term</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLoanTerm.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditProduct.dao.LLC_BI__Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLoanTerm.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interest_Rate_Is_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the LTV decision criteria.</description>
        <name>LTV_Decision_Criteria</name>
        <label>LTV Decision Criteria</label>
        <locationX>1208</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditProduct.loanToValueRatio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Amount_Within_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Months on Job decision criteria.</description>
        <name>Months_on_Job_Decision_Criteria</name>
        <label>Months on Job Decision Criteria</label>
        <locationX>4314</locationX>
        <locationY>2404</locationY>
        <assignmentItems>
            <assignToReference>CriteriaMonthsOnJob.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Months on Job</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaMonthsOnJob.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaMonthsOnJob.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Applicant.monthsOnJob</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Monthly_Income_Within_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Number of Accounts decision criteria.</description>
        <name>Number_of_Accounts_Decision_Criteria</name>
        <label>Number of Accounts Decision Criteria</label>
        <locationX>6368</locationX>
        <locationY>3335</locationY>
        <assignmentItems>
            <assignToReference>CriteriaNumberOfAccounts.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Number of Accounts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaNumberOfAccounts.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaNumberOfAccounts.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Applicant.creditReport.numberOfAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreclosure_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the OFAC decision criteria.</description>
        <name>OFAC_Decision_Criteria</name>
        <label>OFAC Decision Criteria</label>
        <locationX>3982</locationX>
        <locationY>4026</locationY>
        <assignmentItems>
            <assignToReference>CriteriaOFAC.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OFAC Alert</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaOFAC.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Bankruptcy.</description>
        <name>One_Point_for_Bankruptcy</name>
        <label>One Point for Bankruptcy</label>
        <locationX>4146</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>CriteriaBankruptcy.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBankruptcy.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBankruptcy.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bankruptcy_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Collateral Subtype</description>
        <name>One_Point_for_Collateral_Subtype</name>
        <label>One Point for Collateral Subtype</label>
        <locationX>3759</locationX>
        <locationY>1971</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollateralSubtype.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollateralSubtype.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Subtype_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Collateral Type</description>
        <name>One_Point_for_Collateral_Type</name>
        <label>One Point for Collateral Type</label>
        <locationX>3438</locationX>
        <locationY>1767</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollateralType.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollateralType.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Type_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Collections.</description>
        <name>One_Point_for_Collections</name>
        <label>One Point for Collections</label>
        <locationX>4123</locationX>
        <locationY>2991</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollections.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollections.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollections.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collections_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Credit Score.</description>
        <name>One_Point_for_Credit_Score</name>
        <label>One Point for Credit Score</label>
        <locationX>5936</locationX>
        <locationY>2834</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceivedCreditScorePoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Score_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for DTI</description>
        <name>One_Point_for_DTI</name>
        <label>One Point for DTI</label>
        <locationX>857</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTI_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Foreclosures.</description>
        <name>One_Point_for_Foreclosures</name>
        <label>One Point for Foreclosures</label>
        <locationX>4113</locationX>
        <locationY>2592</locationY>
        <assignmentItems>
            <assignToReference>CriteriaForeclosures.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaForeclosures.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaForeclosures.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreclosure_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Fraud Alert.</description>
        <name>One_Point_for_Fraud_Alert</name>
        <label>One Point for Fraud Alert</label>
        <locationX>4148</locationX>
        <locationY>4210</locationY>
        <assignmentItems>
            <assignToReference>CriteriaFraudAlert.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaFraudAlert.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaFraudAlert.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_Alert_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign one point to the total assigned points for Interest Rate.</description>
        <name>One_Point_for_Interest_Rate</name>
        <label>One Point for Interest Rate</label>
        <locationX>2267</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>CriteriaInterestRate.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaInterestRate.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interest_Rate_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Loan Amount</description>
        <name>One_Point_for_Loan_Amount</name>
        <label>One Point for Loan Amount</label>
        <locationX>1550</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLoanAmount.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLoanAmount.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Amount_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign one point to the total assigned points for Loan Term.</description>
        <name>One_Point_for_Loan_Term</name>
        <label>One Point for Loan Term</label>
        <locationX>1914</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLoanTerm.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLoanTerm.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Term_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for LTV</description>
        <name>One_Point_for_LTV</name>
        <label>One Point for LTV</label>
        <locationX>1208</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LTV_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Months at Residence.</description>
        <name>One_Point_for_Months_At_Residence</name>
        <label>One Point for Months At Residence</label>
        <locationX>5238</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>CriteriaMonthsAtResidence.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaMonthsAtResidence.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceivedMonthsAtResidencePoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Months_At_Residence_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Months on Job.</description>
        <name>One_Point_for_Months_on_Job</name>
        <label>One Point for Months on Job</label>
        <locationX>4317</locationX>
        <locationY>2182</locationY>
        <assignmentItems>
            <assignToReference>CriteriaMonthsOnJob.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaMonthsOnJob.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceivedMonthsOnJobPoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Months_on_Job_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Number of Accounts.</description>
        <name>One_Point_for_Number_of_Accounts</name>
        <label>One Point for Number of Accounts</label>
        <locationX>6362</locationX>
        <locationY>3060</locationY>
        <assignmentItems>
            <assignToReference>CriteriaNumberOfAccounts.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaNumberOfAccounts.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceivedNumberOfAccountsPoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Accounts_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for OFAC.</description>
        <name>One_Point_for_OFAC</name>
        <label>One Point for OFAC</label>
        <locationX>4157</locationX>
        <locationY>3820</locationY>
        <assignmentItems>
            <assignToReference>CriteriaOFAC.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaOFAC.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaOFAC.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OFAC_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Total Monthly Income.</description>
        <name>One_Point_for_Total_Monthly_Income</name>
        <label>One Point for Total Monthly Income</label>
        <locationX>4772</locationX>
        <locationY>2397</locationY>
        <assignmentItems>
            <assignToReference>CriteriaTotalMonthlyIncome.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaTotalMonthlyIncome.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceivedTotalMonthlyIncomePoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Monthly_Income_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Vehicle Age</description>
        <name>One_Point_for_Vehicle_Age</name>
        <label>One Point for Vehicle Age</label>
        <locationX>3118</locationX>
        <locationY>1567</locationY>
        <assignmentItems>
            <assignToReference>CriteriaVehicleAgeYears.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaVehicleAgeYears.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_Age_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns one point to the total assigned points for Vehicle Mileage</description>
        <name>One_Point_for_Vehicle_Mileage</name>
        <label>One Point for Vehicle Mileage</label>
        <locationX>2777</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>CriteriaVehicleMileage.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaVehicleMileage.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_Mileage_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Credit Application the result of Recommended Approval.</description>
        <name>Recommended_Approval</name>
        <label>Recommended_Approval</label>
        <locationX>4200</locationX>
        <locationY>4960</locationY>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recommend Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recommended_Approval_Description</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns the Credit Application the result of Recommended Decline.</description>
        <name>Recommended_Decline</name>
        <label>Recommended_Decline</label>
        <locationX>4432</locationX>
        <locationY>5110</locationY>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recommend Decline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recommended_Decline_Description</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the default available points and total assigned points.</description>
        <name>Set_Default_Results</name>
        <label>Set Default Results</label>
        <locationX>516</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaximumPoints</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedPoints</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTI_Within_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Flows URL and Version Number.</description>
        <name>Set_Flow_Information</name>
        <label>Set Flow Information</label>
        <locationX>344</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Flow_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Results.LLC_BI__Flow_Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowVersionNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Default_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Total Monthly Income decision criteria.</description>
        <name>Total_Monthly_Income_Decision_Criteria</name>
        <label>Total Monthly Income Decision Criteria</label>
        <locationX>4779</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>CriteriaTotalMonthlyIncome.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total Monthly Income</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaTotalMonthlyIncome.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaTotalMonthlyIncome.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Applicant.totalMonthlyIncome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Months_At_Residence_Within_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Months at Residence decision criteria.</description>
        <name>Total_Months_At_Residence_Decision_Criteria</name>
        <label>Total Months At Residence Decision Criteria</label>
        <locationX>5239</locationX>
        <locationY>2838</locationY>
        <assignmentItems>
            <assignToReference>CriteriaMonthsAtResidence.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Months At Residence</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaMonthsAtResidence.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaMonthsAtResidence.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Applicant.currentAddress.monthsAtResidence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApplicantIsABusiness</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Vehicle Age decision criteria</description>
        <name>Vehicle_Age_Decision_Criteria</name>
        <label>Vehicle Age Decision Criteria</label>
        <locationX>3118</locationX>
        <locationY>1765</locationY>
        <assignmentItems>
            <assignToReference>CriteriaVehicleAgeYears.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vehicle Age (Years)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaVehicleAgeYears.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaVehicleAgeYears.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Collateral.collateralAgeYears</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Collateral_Type_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Vehicle Mileage decision criteria</description>
        <name>Vehicle_Mileage_Decision_Criteria</name>
        <label>Vehicle Mileage Decision Criteria</label>
        <locationX>2777</locationX>
        <locationY>1567</locationY>
        <assignmentItems>
            <assignToReference>CriteriaVehicleMileage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mileage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaVehicleMileage.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaVehicleMileage.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Collateral.mileage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Vehicle_Age_Within_Range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Bankruptcy when criteria is not met.</description>
        <name>Zero_Points_for_Bankruptcy</name>
        <label>Zero Points for Bankruptcy</label>
        <locationX>7297</locationX>
        <locationY>3496</locationY>
        <assignmentItems>
            <assignToReference>CriteriaBankruptcy.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBankruptcy.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBankruptcy.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankruptcyPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OFAC_Alert_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns 0 points based on Collateral Subtype when criteria is not met</description>
        <name>Zero_Points_for_Collateral_Subtype</name>
        <label>Zero Points for Collateral Subtype</label>
        <locationX>3591</locationX>
        <locationY>2178</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollateralSubtype.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollateralSubtype.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Subtype_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns 0 points based on Collateral Type when criteria is not met</description>
        <name>Zero_Points_for_Collateral_Type</name>
        <label>Zero Points for Collateral Type</label>
        <locationX>3278</locationX>
        <locationY>1971</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollateralType.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollateralType.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Type_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Collections when criteria is not met.</description>
        <name>Zero_Points_for_Collections</name>
        <label>Zero Points for Collections</label>
        <locationX>7069</locationX>
        <locationY>3498</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCollections.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollections.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCollections.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bankruptcies_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Credit Score when criteria is not met.</description>
        <name>Zero_Points_for_Credit_Score</name>
        <label>Zero Points for Credit Score</label>
        <locationX>5692</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaCreditScore.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Score_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for DTI when criteria is not met</description>
        <name>Zero_Points_for_DTI</name>
        <label>Zero Points for DTI</label>
        <locationX>672</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDTI.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTI_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Foreclosures when criteria is not met.</description>
        <name>Zero_Points_for_Foreclosures</name>
        <label>Zero Points for Foreclosures</label>
        <locationX>6853</locationX>
        <locationY>3504</locationY>
        <assignmentItems>
            <assignToReference>CriteriaForeclosures.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaForeclosures.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaForeclosures.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForeclosurePresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collections_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Fraud Alert when criteria is not met.</description>
        <name>Zero_Points_for_Fraud_Alert</name>
        <label>Zero Points for Fraud Alert</label>
        <locationX>7740</locationX>
        <locationY>3493</locationY>
        <assignmentItems>
            <assignToReference>CriteriaFraudAlert.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaFraudAlert.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaFraudAlert.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAlertPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Provide an error message noting that 0 points were assigned for Interest Rate.</description>
        <name>Zero_Points_for_Interest_Rate</name>
        <label>Zero Points for Interest Rate</label>
        <locationX>2092</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>CriteriaInterestRate.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaInterestRate.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interest_Rate_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Loan Amount when criteria is not met</description>
        <name>Zero_Points_for_Loan_Amount</name>
        <label>Zero Points for Loan Amount</label>
        <locationX>1374</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLoanAmount.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLoanAmount.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Amount_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Provide an error message noting that 0 points were assigned for Loan Term.</description>
        <name>Zero_Points_for_Loan_Term</name>
        <label>Zero Points for Loan Term</label>
        <locationX>1738</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLoanTerm.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLoanTerm.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Term_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for LTV when criteria is not met</description>
        <name>Zero_Points_for_LTV</name>
        <label>Zero Points for LTV</label>
        <locationX>1027</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LTV_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Months at Residence when criteria is not met.</description>
        <name>Zero_Points_for_Months_At_Residence</name>
        <label>Zero Points for Months At Residence</label>
        <locationX>4992</locationX>
        <locationY>2838</locationY>
        <assignmentItems>
            <assignToReference>CriteriaMonthsAtResidence.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaMonthsAtResidence.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Months_At_Residence_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Months on Job when criteria is not met.</description>
        <name>Zero_Points_for_Months_on_Job</name>
        <label>Zero Points for Months on Job</label>
        <locationX>4142</locationX>
        <locationY>2404</locationY>
        <assignmentItems>
            <assignToReference>CriteriaMonthsOnJob.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaMonthsOnJob.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Months_on_Job_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Number of Accounts when criteria is not met.</description>
        <name>Zero_Points_for_Number_of_Accounts</name>
        <label>Zero Points for Number of Accounts</label>
        <locationX>6175</locationX>
        <locationY>3335</locationY>
        <assignmentItems>
            <assignToReference>CriteriaNumberOfAccounts.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaNumberOfAccounts.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Accounts_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for OFAC Alert when criteria is not met.</description>
        <name>Zero_Points_for_OFAC_Alert</name>
        <label>Zero Points for OFAC Alert</label>
        <locationX>7510</locationX>
        <locationY>3498</locationY>
        <assignmentItems>
            <assignToReference>CriteriaOFAC.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaOFAC.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaOFAC.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OFACPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_Alert_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns zero points for Total Monthly Income when criteria is not met.</description>
        <name>Zero_Points_for_Total_Monthly_Income</name>
        <label>Zero Points for Total Monthly Income</label>
        <locationX>4563</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>CriteriaTotalMonthlyIncome.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaTotalMonthlyIncome.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Monthly_Income_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns 0 points based on Vehicle Age when criteria is not met</description>
        <name>Zero_Points_for_Vehicle_Age</name>
        <label>Zero Points for Vehicle Age</label>
        <locationX>2951</locationX>
        <locationY>1765</locationY>
        <assignmentItems>
            <assignToReference>CriteriaVehicleAgeYears.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaVehicleAgeYears.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_Age_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns 0 points based on Vehicle Mileage when criteria is not met</description>
        <name>Zero_Points_for_Vehicle_Mileage</name>
        <label>Zero Points for Vehicle Mileage</label>
        <locationX>2625</locationX>
        <locationY>1567</locationY>
        <assignmentItems>
            <assignToReference>CriteriaVehicleMileage.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaVehicleMileage.LLC_BI__Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_Mileage_Decision_Criteria</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The assigned points for the Credit Application at the beginning of the flow.</description>
        <name>AssignedPoints</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The Flow&apos;s URL.</description>
        <name>FlowURL</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <description>The Flow&apos;s Version Number.</description>
        <name>FlowVersionNumber</name>
        <dataType>Number</dataType>
    </constants>
    <constants>
        <description>The maximum ratio of assigned points to maximum points for an Application to be Approved.</description>
        <name>MaxApproval</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum ratio of assigned points to maximum points for an Application to be Declined.</description>
        <name>MaxDecline</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.59</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum acceptable DTI value.</description>
        <name>MaxDTI</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum available points in the flow.</description>
        <name>MaximumPoints</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>19.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum acceptable Loan Amount value.</description>
        <name>MaxLoanAmount</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum acceptable Loan Term value.</description>
        <name>MaxLoanTerm</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>84.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum acceptable LTV value.</description>
        <name>MaxLTV</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>130.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum ratio of assigned points to maximum points for an Application with a Business to be a Recommended Approval.</description>
        <name>MaxRecApproval_Business</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum ratio of assigned points to maximum points for an Application to be a Recommended Approval.</description>
        <name>MaxRecApproval_Individual</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.89</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum ratio of assigned points to maximum points for an Application with a Business to be a Recommended Decline.</description>
        <name>MaxRecDecline_Business</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.6</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum ratio of assigned points to maximum points for an Application to be a Recommended Decline.</description>
        <name>MaxRecDecline_Individual</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.74</numberValue>
        </value>
    </constants>
    <constants>
        <description>The maximum acceptable total monthly income value for an Applicant.</description>
        <name>MaxTotalMonthlyIncome</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>20000.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Configured the maximum acceptable age of the purchase vehicle in years</description>
        <name>MaxVehicleAgeYears</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Configures the maximum acceptable mileage for the purchase vehicle</description>
        <name>MaxVehicleMileage</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>85000.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum ratio of assigned points to maximum points for an Application to be Approved.</description>
        <name>MinApproval</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.9</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum acceptable credit score.</description>
        <name>MinCreditScore</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>650.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum ratio of assigned points to maximum points for an Application to be Declined.</description>
        <name>MinDecline</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum acceptable DTI value.</description>
        <name>MinDTI</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum acceptable Loan Amount value.</description>
        <name>MinLoanAmount</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2000.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum acceptable Loan Term value.</description>
        <name>MinLoanTerm</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>36.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum acceptable LTV value.</description>
        <name>MinLTV</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>MinMonthsAtResidence</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum acceptable months the Applicant must be at a job.</description>
        <name>MinMonthsOnJob</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum acceptable number of accounts.</description>
        <name>MinNumberOfAccounts</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum ratio of assigned points to maximum points for an Application with a Business to be a Recommended Approval.</description>
        <name>MinRecApproval_Business</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.61</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum ratio of assigned points to maximum points for an Application to be a Recommended Approval.</description>
        <name>MinRecApproval_Individual</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.75</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum ratio of assigned points to maximum points for an Application with a Business to be a Recommended Decline.</description>
        <name>MinRecDecline_Business</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum ratio of assigned points to maximum points for an Application to be a Recommended Decline.</description>
        <name>MinRecDecline_Individual</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.6</numberValue>
        </value>
    </constants>
    <constants>
        <description>The minimum acceptable total monthly income value for an Applicant.</description>
        <name>MinTotalMonthlyIncome</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1500.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Configured the minimum acceptable age of the purchase vehicle in years</description>
        <name>MinVehicleAgeYears</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Configures the minimum acceptable mileage for the purchase vehicle</description>
        <name>MinVehicleMileage</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Determines if the Applicant is a Business.</description>
        <name>ApplicantIsABusiness</name>
        <label>Applicant is a Business?</label>
        <locationX>5447</locationX>
        <locationY>2840</locationY>
        <defaultConnector>
            <targetReference>Credit_Score_Within_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsBusiness_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.applicantType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Applicant_Present</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if no Bankruptcies were present for either Applicant.</description>
        <name>Bankruptcies</name>
        <label>Bankruptcies?</label>
        <locationX>3958</locationX>
        <locationY>3398</locationY>
        <defaultConnector>
            <targetReference>Bankruptcy_Decision_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Bankruptcies_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BankruptcyPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Bankruptcy</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Applicant has any Bankruptcies.</description>
        <name>Bankruptcies_Present</name>
        <label>Bankruptcies Present?</label>
        <locationX>7059</locationX>
        <locationY>3322</locationY>
        <defaultConnector>
            <targetReference>OFAC_Alert_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Bankruptcy_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.creditReport.hasBankruptcy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_Points_for_Bankruptcy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Application should be judged by the criteria for a Business or an Individual.</description>
        <name>Business_or_Individual</name>
        <label>Business or Individual?</label>
        <locationX>3978</locationX>
        <locationY>4746</locationY>
        <defaultConnector>
            <targetReference>Determine_Results_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Individual</defaultConnectorLabel>
        <rules>
            <name>Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Results_Business</targetReference>
            </connector>
            <label>Business</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if no Collections were present for either Applicant.</description>
        <name>Collections</name>
        <label>Collections?</label>
        <locationX>3950</locationX>
        <locationY>2989</locationY>
        <defaultConnector>
            <targetReference>Collections_Decision_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Collections_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Collections</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Applicant has any Collection Events.</description>
        <name>Collections_Present</name>
        <label>Collections Present?</label>
        <locationX>6845</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Bankruptcies_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Collections_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.creditReport.hasCollectionEvents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_Points_for_Collections</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Applicant&apos;s Credit Score is within acceptable range.</description>
        <name>Credit_Score_Within_Range</name>
        <label>Credit Score Within Range?</label>
        <locationX>5683</locationX>
        <locationY>2842</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Credit_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Credit_Score_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.creditReport.creditScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinCreditScore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReceivedCreditScorePoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Credit_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>AlreadyReceivedPoint_CreditScore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceivedCreditScorePoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Accounts_Within_Range</targetReference>
            </connector>
            <label>Already Received Point</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the end result of the Credit Application based on the criteria for a Business</description>
        <name>Determine_Results_Business</name>
        <label>Determine Results - Business</label>
        <locationX>4193</locationX>
        <locationY>4751</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recommended_Approval_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinRecApproval_Business</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxRecApproval_Business</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommended_Approval</targetReference>
            </connector>
            <label>Recommended Approval</label>
        </rules>
        <rules>
            <name>Recommended_Decline_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinRecDecline_Business</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxRecDecline_Business</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommended_Decline</targetReference>
            </connector>
            <label>Recommended Decline</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the end result of the Credit Application based on the criteria for an Individual.</description>
        <name>Determine_Results_Individual</name>
        <label>Determine Results - Individual</label>
        <locationX>3976</locationX>
        <locationY>5108</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinApproval</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxApproval</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Recommended_Approval_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinRecApproval_Individual</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxRecApproval_Individual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommended_Approval</targetReference>
            </connector>
            <label>Recommended Approval</label>
        </rules>
        <rules>
            <name>Recommended_Decline_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinRecDecline_Individual</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxRecDecline_Individual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommended_Decline</targetReference>
            </connector>
            <label>Recommended Decline</label>
        </rules>
        <rules>
            <name>Declined_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinDecline</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Points_Ratio</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxDecline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Declined</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Credit Application&apos;s DTI is within acceptable range.</description>
        <name>DTI_Within_Range</name>
        <label>DTI Within Range?</label>
        <locationX>665</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_DTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DTI_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditProduct.dao.Debt_To_Income_Ratio__c__NotFound</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinDTI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreditProduct.dao.Debt_To_Income_Ratio__c__NotFound</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxDTI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_DTI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Applicant has any Foreclosures.</description>
        <name>Foreclosure_Present</name>
        <label>Foreclosure Present?</label>
        <locationX>6608</locationX>
        <locationY>3330</locationY>
        <defaultConnector>
            <targetReference>Collections_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Foreclosure_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.creditReport.hasForeclosure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_Points_for_Foreclosures</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if no Foreclosures were present for either Applicant.</description>
        <name>Foreclosures</name>
        <label>Foreclosures?</label>
        <locationX>3942</locationX>
        <locationY>2590</locationY>
        <defaultConnector>
            <targetReference>Foreclosure_Decision_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Foreclosures_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForeclosurePresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Foreclosures</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if no Fraud Alerts were present for either Applicant.</description>
        <name>Fraud_Alert</name>
        <label>Fraud Alert?</label>
        <locationX>3974</locationX>
        <locationY>4217</locationY>
        <defaultConnector>
            <targetReference>Fraud_Alert_Decision_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Fraud_Alert_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FraudAlertPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Fraud_Alert</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Applicant has a Fraud Alert.</description>
        <name>Fraud_Alert_Present</name>
        <label>Fraud Alert Present?</label>
        <locationX>7502</locationX>
        <locationY>3320</locationY>
        <defaultConnector>
            <targetReference>For_Each_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Fraud_Alert_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.creditReport.fraudAlert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_Points_for_Fraud_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Credit Application&apos;s Interest Rate is set.</description>
        <name>Interest_Rate_Is_Set</name>
        <label>Interest Rate Is Set?</label>
        <locationX>2083</locationX>
        <locationY>1143</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Interest_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Interest_Rate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditProduct.interestRate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Interest_Rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a Collateral Subtype is associated with the purchase vehicle</description>
        <name>Is_Collateral_Subtype_Present</name>
        <label>Is Collateral Subtype Present</label>
        <locationX>3584</locationX>
        <locationY>1973</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Collateral_Subtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Collateral_Subtype_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Collateral.collateralType.subtype</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Collateral_Subtype</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a Collateral Type is associated with the purchase vehicle</description>
        <name>Is_Collateral_Type_Present</name>
        <label>Is Collateral Type Present</label>
        <locationX>3268</locationX>
        <locationY>1767</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Collateral_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Collateral_Type_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Collateral.collateralType.type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Collateral_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the purchase vehicle&apos;s mileage is within the configured acceptable range.</description>
        <name>Is_Mileage_Within_Range</name>
        <label>Is Mileage Within Range?</label>
        <locationX>2616</locationX>
        <locationY>1361</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Vehicle_Mileage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Mileage_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Collateral.mileage</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinVehicleMileage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Collateral.mileage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxVehicleMileage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Vehicle_Mileage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the purchase vehicle&apos;s age is within the configured acceptable range.</description>
        <name>Is_Vehicle_Age_Within_Range</name>
        <label>Is Vehicle Age Within Range?</label>
        <locationX>2944</locationX>
        <locationY>1569</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Vehicle_Age</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Age_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Collateral.collateralAgeYears</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinVehicleAgeYears</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Collateral.collateralAgeYears</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxVehicleAgeYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Vehicle_Age</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Credit Application&apos;s Loan Amount is within acceptable range.</description>
        <name>Loan_Amount_Within_Range</name>
        <label>Loan Amount Within Range?</label>
        <locationX>1365</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Loan_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Loan_Amount_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditProduct.dao.Amount__c__NotFound</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinLoanAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreditProduct.dao.Amount__c__NotFound</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxLoanAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Loan_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Credit Application&apos;s Loan Term is within acceptable range.</description>
        <name>Loan_Term_Within_Range</name>
        <label>Loan Term Within Range?</label>
        <locationX>1729</locationX>
        <locationY>916</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Loan_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Loan_Term_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditProduct.dao.Term_Months__c__NotFound</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinLoanTerm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreditProduct.dao.Term_Months__c__NotFound</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxLoanTerm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Loan_Term</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Credit Application&apos;s LTV is within acceptable range.</description>
        <name>LTV_Within_Range</name>
        <label>LTV Within Range?</label>
        <locationX>1019</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_LTV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LTV_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditProduct.loanToValueRatio</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinLTV</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreditProduct.loanToValueRatio</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxLTV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_LTV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Applicant&apos;s Months At Residence is within acceptable range.</description>
        <name>Months_At_Residence_Within_Range</name>
        <label>Months At Residence Within Range</label>
        <locationX>4983</locationX>
        <locationY>2612</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Months_At_Residence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Months_At_Residence_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.currentAddress.monthsAtResidence</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinMonthsAtResidence</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReceivedMonthsAtResidencePoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Months_At_Residence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>AlreadyReceivedPoint_MonthsAtResidence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceivedMonthsAtResidencePoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Received Point</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Applicant&apos;s Months on Job is within acceptable range.</description>
        <name>Months_on_Job_Within_Range</name>
        <label>Months on Job Within Range?</label>
        <locationX>4136</locationX>
        <locationY>2182</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Months_on_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Months_on_Job_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.monthsOnJob</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinMonthsOnJob</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReceivedMonthsOnJobPoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Months_on_Job</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>AlreadyReceivedPoint_MonthsOnJob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceivedMonthsOnJobPoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Monthly_Income_Within_Range</targetReference>
            </connector>
            <label>Already Received Point</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Applicant&apos;s Number of Accounts is within acceptable range.</description>
        <name>Number_of_Accounts_Within_Range</name>
        <label>Number of Accounts Within Range?</label>
        <locationX>6158</locationX>
        <locationY>3067</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Number_of_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Number_of_Accounts_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.creditReport.numberOfAccounts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinNumberOfAccounts</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReceivedNumberOfAccountsPoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Number_of_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>AlreadyReceivedPoint_NumberOfPoints</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceivedNumberOfAccountsPoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foreclosure_Present</targetReference>
            </connector>
            <label>Already Received Point</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if no OFAC Alerts were present for either Applicant.</description>
        <name>OFAC_Alert</name>
        <label>OFAC Alert?</label>
        <locationX>3969</locationX>
        <locationY>3822</locationY>
        <defaultConnector>
            <targetReference>OFAC_Decision_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>OFAC_Alert_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OFACPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_OFAC</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Applicant has an OFAC Alert.</description>
        <name>OFAC_Alert_Present</name>
        <label>OFAC Alert Present?</label>
        <locationX>7289</locationX>
        <locationY>3320</locationY>
        <defaultConnector>
            <targetReference>Fraud_Alert_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OFAC_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.creditReport.hasOfacAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_Points_for_OFAC_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Applicant&apos;s Total Monthly Income is within acceptable range.</description>
        <name>Total_Monthly_Income_Within_Range</name>
        <label>Total Monthly Income Within Range?</label>
        <locationX>4554</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Zero_Points_for_Total_Monthly_Income</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Total_Monthly_Income_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Applicant.totalMonthlyIncome</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinTotalMonthlyIncome</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Applicant.totalMonthlyIncome</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxTotalMonthlyIncome</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReceivedTotalMonthlyIncomePoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Point_for_Total_Monthly_Income</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>AlreadyReceivedPoint_TotalMonthlyIncome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceivedTotalMonthlyIncomePoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Months_At_Residence_Within_Range</targetReference>
            </connector>
            <label>AlreadyReceivedPoint</label>
        </rules>
    </decisions>
    <description>Automatically generates an acceptance decision for a given Indirect Lending Credit Application.</description>
    <formulas>
        <description>The description for an Approved Credit Application.</description>
        <name>Approved_Description</name>
        <dataType>String</dataType>
        <expression>&quot;The Loan Auto Decision flow completed decisioning for &quot; &amp; {!CreditProduct.name} &amp; &quot;. The credit application is approved.&quot;</expression>
    </formulas>
    <formulas>
        <description>The description for a Declined Credit Application.</description>
        <name>Declined_Description</name>
        <dataType>String</dataType>
        <expression>&quot;The system completed decisioning for &quot; &amp; {!CreditProduct.name} &amp; &quot;. The credit application is declined.&quot;</expression>
    </formulas>
    <formulas>
        <description>The ratio of total points received to maximum points available that is used to determine the outcome of the Credit Application.</description>
        <name>Final_Points_Ratio</name>
        <dataType>Number</dataType>
        <expression>{!Results.LLC_BI__Assigned_Points__c} / {!Results.LLC_BI__Maximum_Points__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The description for a Recommended Approval Credit Application.</description>
        <name>Recommended_Approval_Description</name>
        <dataType>String</dataType>
        <expression>&quot;The system completed decisioning for &quot; &amp; {!CreditProduct.name} &amp; &quot;. The credit application decision is to recommend approval.&quot;</expression>
    </formulas>
    <formulas>
        <description>The description for a Recommended Decline Credit Application.</description>
        <name>Recommended_Decline_Description</name>
        <dataType>String</dataType>
        <expression>&quot;The system completed decisioning for &quot; &amp; {!CreditProduct.name} &amp; &quot;. The credit application decision is to recommend decline.&quot;</expression>
    </formulas>
    <interviewLabel>IALAutoDecision {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>IALAutoDecision</label>
    <loops>
        <description>Loops through each Applicant on the Credit Application.</description>
        <name>For_Each_Applicant</name>
        <label>For Each Applicant</label>
        <locationX>3950</locationX>
        <locationY>2178</locationY>
        <collectionReference>Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Months_on_Job_Within_Range</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Foreclosures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the Collateral associated with the Credit Application. For Automotive Lending, only 1 Collateral entry is present reflecting the purchase vehicle, so the loop would terminate after one interation</description>
        <name>For_Each_Collateral</name>
        <label>For Each Collateral</label>
        <locationX>2432</locationX>
        <locationY>1355</locationY>
        <collectionReference>Collaterals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Mileage_Within_Range</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Load_Application_Data</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Contains information about the applicants included in the credit application.</description>
        <name>Applicants</name>
        <apexClass>LLC_BI__ILApplicantFlowVar_v1</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON-serialized String containing data from the credit application used in the Flow.</description>
        <name>ApplicationData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True if a Bankruptcy is associated with the Credit Application, false otherwise.</description>
        <name>BankruptcyPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if a Business Applicant is present on the Credit Application, false otherwise.</description>
        <name>BusinessPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>One or more collateral provided as part of the inbound credit application</description>
        <name>Collaterals</name>
        <apexClass>LLC_BI__ILCollateralFlowVar_v1</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True if Collections are associated with the Credit Application, false otherwise.</description>
        <name>CollectionPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores loan information provided as part of the overall credit application</description>
        <name>CreditProduct</name>
        <apexClass>LLC_BI__ILCreditProductFlowVar_v1</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of attribute Scorecard Details variables containing their individual decision information.</description>
        <name>Criteria</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for presence of a Bankruptcy.</description>
        <name>CriteriaBankruptcy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for presence of a Collateral Subtype</description>
        <name>CriteriaCollateralSubtype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for presence of a Collateral Type</description>
        <name>CriteriaCollateralType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for presence of Collections.</description>
        <name>CriteriaCollections</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for Credit Score.</description>
        <name>CriteriaCreditScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for DTI.</description>
        <name>CriteriaDTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for presence of Foreclosures.</description>
        <name>CriteriaForeclosures</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for presence of a Fraud Alert.</description>
        <name>CriteriaFraudAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for Interest Rate.</description>
        <name>CriteriaInterestRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for Loan Amount.</description>
        <name>CriteriaLoanAmount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for Loan Term.</description>
        <name>CriteriaLoanTerm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for LTV.</description>
        <name>CriteriaLTV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaMonthsAtResidence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for Months on Job.</description>
        <name>CriteriaMonthsOnJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for Number of Accounts.</description>
        <name>CriteriaNumberOfAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for presence of an OFAC Alert.</description>
        <name>CriteriaOFAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for Total Monthly Income</description>
        <name>CriteriaTotalMonthlyIncome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for vehicle age in years</description>
        <name>CriteriaVehicleAgeYears</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>Captures the decision criteria outcome for Vehicle Mileage</description>
        <name>CriteriaVehicleMileage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <description>True if Foreclosures are associated with the Credit Application, false otherwise.</description>
        <name>ForeclosurePresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if a Fraud Alert is associated with the Credit Application, false otherwise.</description>
        <name>FraudAlertPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if an OFAC Alert is associated with the Credit Application, false otherwise.</description>
        <name>OFACPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if a point has already been received for having an acceptable Credit Score, false otherwise.</description>
        <name>ReceivedCreditScorePoint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if a point has already been received for having an acceptable number of Months at Residence, false otherwise.</description>
        <name>ReceivedMonthsAtResidencePoint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if a point has already been received for having an acceptable number of Months on Job, false otherwise.</description>
        <name>ReceivedMonthsOnJobPoint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if a point has already been received for having an acceptable Number of Accounts, false otherwise.</description>
        <name>ReceivedNumberOfAccountsPoint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if a point has already been received for having an acceptable Total Monthly Income, false otherwise.</description>
        <name>ReceivedTotalMonthlyIncomePoint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The decision results.</description>
        <name>Results</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard__c</objectType>
    </variables>
</Flow>
