flows/Master_LoanAutoDecision.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set Result and Result Description for Un supported Product Lines</description>
        <name>Product_Line_Not_Supported_Assignment</name>
        <label>Product Line Not Supported Assignment</label>
        <locationX>795</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductLineUnsupported</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>Un Supported Product Line</description>
        <name>ProductLineUnsupported</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Un-supported Product Line, Please select a different Product Line or talk to your Administrator.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultAutoApprove</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultAutoDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </constants>
    <constants>
        <description>Result set to Complete from Integrations</description>
        <name>ResultComplete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultInformationRequested</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Request Initiated</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultInformationRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultManualReviewRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Review Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultRecommendApproval</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommend Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultRecommendDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommend Decline</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if Integrations are Completed</description>
        <name>Is_Integration_Completed</name>
        <label>Is Integration Completed</label>
        <locationX>370</locationX>
        <locationY>111</locationY>
        <defaultConnectorLabel>Integrations Not Completed</defaultConnectorLabel>
        <rules>
            <name>Integrations_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultComplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Product_Line</targetReference>
            </connector>
            <label>Integrations Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if Integrations should be executed</description>
        <name>Is_Integrations_Running</name>
        <label>Is Integrations Running</label>
        <locationX>251</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Which_Product_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Execute Integrations</defaultConnectorLabel>
        <rules>
            <name>Execute_Integrations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toRunIntegrations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integrations_Sub_Flow</targetReference>
            </connector>
            <label>Execute Integrations</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine which Product Line is used to send down proper path</description>
        <name>Which_Product_Line</name>
        <label>Which Product Line</label>
        <locationX>450</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Product_Line_Not_Supported_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Line Not Supported</defaultConnectorLabel>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanInformation.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commercial_Sub_Flow</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanInformation.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Sub_Flow</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <description>This Flow houses all base line Initalization of Loan Auto Decision. Integrations Off</description>
    <formulas>
        <name>Description_Approved</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; has completed decisioning and is approved. Review all the details here and &apos;submit for approval&apos; to continue with the auto approval process.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Decline</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; has completed decisioning and is declined. To continue with the adverse actions process, review all the details here and select the &apos;Adverse Actions&apos; button.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Manual_Review_Required</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; could not be auto decisioned and requires a manual review. You can view all of the captured detail here.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Recommend_Approval</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; has completed decisioning and is recommended for approval. To continue and submit this for manual approval, review all the details here and select the &apos;Submit for manual approval&apos; button.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Recommend_Decline</name>
        <dataType>String</dataType>
        <expression>{!loanInformation.Name} &amp; &quot; has completed decisioning and is recommended for decline. To continue to the adverse actions process, review all the details here and select the “Adverse Actions” button.&quot;</expression>
    </formulas>
    <interviewLabel>Master_LoanAutoDecision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Master_LoanAutoDecision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Account/Relationship Information from Account field on Loan</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanInformation.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountInformation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Debt_Service_Coverage__c</queriedFields>
        <queriedFields>LLC_BI__Direct_Exposure__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Credit Report from Primary Account on Loan</description>
        <name>Get_Credit_Report</name>
        <label>Get Credit Report</label>
        <locationX>50</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Integrations_Running</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nFUSE__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanInformation.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>nFUSE__Credit_Report__c</object>
        <outputReference>CreditRequest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nFUSE__Credit_Score__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Loan information from LoanId variable</description>
        <name>Get_Loan_Information</name>
        <label>Get Loan Information</label>
        <locationX>50</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>loanInformation</outputReference>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Product__c</queriedFields>
        <queriedFields>LLC_BI__Risk_Grade__c</queriedFields>
        <queriedFields>LLC_BI__Is_Modification__c</queriedFields>
        <queriedFields>LLC_BI__isRenewal__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LLC_BI__Current_LTV__c</queriedFields>
        <queriedFields>LLC_BI__Current_Interest_Rate__c</queriedFields>
        <queriedFields>LLC_BI__Term_Months__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Loan_Information</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Execution of Sub Flow Commercial for all decisioning related to Commercial Product Line</description>
        <name>Commercial_Sub_Flow</name>
        <label>Commercial Sub Flow</label>
        <locationX>664</locationX>
        <locationY>181</locationY>
        <flowName>Commercial_LoanAutoDecision</flowName>
        <inputAssignments>
            <name>accountInformation</name>
            <value>
                <elementReference>accountInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CreditRequest</name>
            <value>
                <elementReference>CreditRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Approved</name>
            <value>
                <elementReference>Description_Approved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Decline</name>
            <value>
                <elementReference>Description_Decline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Manual_Review_Required</name>
            <value>
                <elementReference>Description_Manual_Review_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Recommend_Approval</name>
            <value>
                <elementReference>Description_Recommend_Approval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Recommend_Decline</name>
            <value>
                <elementReference>Description_Recommend_Decline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>loanInformation</name>
            <value>
                <elementReference>loanInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultAutoApprove</name>
            <value>
                <elementReference>ResultAutoApprove</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultAutoDecline</name>
            <value>
                <elementReference>ResultAutoDecline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultInformationRequested</name>
            <value>
                <elementReference>ResultInformationRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultInformationRequired</name>
            <value>
                <elementReference>ResultInformationRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultManualReviewRequired</name>
            <value>
                <elementReference>ResultManualReviewRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultRecommendApproval</name>
            <value>
                <elementReference>ResultRecommendApproval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultRecommendDecline</name>
            <value>
                <elementReference>ResultRecommendDecline</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AssignedPoints</assignToReference>
            <name>AssignedPoints</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MaximumPoints</assignToReference>
            <name>MaximumPoints</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Execution of Sub Flow for Integrations related to Loan Auto Decision</description>
        <name>Integrations_Sub_Flow</name>
        <label>Integrations Sub Flow</label>
        <locationX>259</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Is_Integration_Completed</targetReference>
        </connector>
        <flowName>Integration_LoanAutoDecision</flowName>
        <inputAssignments>
            <name>CreditRequest</name>
            <value>
                <elementReference>CreditRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>loanInformation</name>
            <value>
                <elementReference>loanInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultInformationRequested</name>
            <value>
                <elementReference>ResultInformationRequested</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Product Line of Retail Sub Flow</description>
        <name>Retail_Sub_Flow</name>
        <label>Retail Sub Flow</label>
        <locationX>670</locationX>
        <locationY>482</locationY>
        <flowName>Retail_LoanAutoDecision</flowName>
        <inputAssignments>
            <name>CreditRequest</name>
            <value>
                <elementReference>CreditRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Approved</name>
            <value>
                <elementReference>Description_Approved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Decline</name>
            <value>
                <elementReference>Description_Decline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Manual_Review_Required</name>
            <value>
                <elementReference>Description_Manual_Review_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Recommend_Approval</name>
            <value>
                <elementReference>Description_Recommend_Approval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description_Recommend_Decline</name>
            <value>
                <elementReference>Description_Recommend_Decline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>loanInformation</name>
            <value>
                <elementReference>loanInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultAutoApprove</name>
            <value>
                <elementReference>ResultAutoApprove</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultAutoDecline</name>
            <value>
                <elementReference>ResultAutoDecline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultInformationRequested</name>
            <value>
                <elementReference>ResultInformationRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultInformationRequired</name>
            <value>
                <elementReference>ResultInformationRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultManualReviewRequired</name>
            <value>
                <elementReference>ResultManualReviewRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultRecommendApproval</name>
            <value>
                <elementReference>ResultRecommendApproval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultRecommendDecline</name>
            <value>
                <elementReference>ResultRecommendDecline</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AssignedPoints</assignToReference>
            <name>AssignedPoints</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MaximumPoints</assignToReference>
            <name>MaximumPoints</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Hold Relationship/Account Information</description>
        <name>accountInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssignedPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds Credit Request Object Data</description>
        <name>CreditRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFUSE__Credit_Report__c</objectType>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>MaximumPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ResultManualReviewRequired</elementReference>
        </value>
    </variables>
    <variables>
        <name>ResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Determine if Integrations should be executed</description>
        <name>toRunIntegrations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
